

@tailwind base;
@tailwind components;
@tailwind utilities;

.title{
  color:wheat;
  font-size: 25px;
  margin-left: 10px;

}

.question{
  color:red;
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.answer{
  color:green;
  font-size: 17px;
  margin-left: 10px;
  margin-bottom: 10px;

}

.tri{
    width: 0;
    height: 0;
    border: 30px solid red;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}



* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  background-color:black;
}
